// Base
// Variables
$primary-color: #f2a33b;
$secondary-color: #eb5669;
$light-color: #fff;
$dark-color: #222 !default;
$gradient-color: linear-gradient(145deg, $primary-color, $secondary-color);
$primary-font: "Quicksand", sans-serif;
$secondary-font: "Source Sans Pro", sans-serif;

// Mixins
@mixin set-background-image($image-name, $image-position, $size: contain) {
  background-repeat: no-repeat;
  background-image: url("../../assets/images/#{$image-name}");
  background-size: $size;
  @if ($image-position != null) {
    background-position-x: $image-position;
  }
}

@mixin set-font-title($size) {
  font-weight: 900;
  font-family: $secondary-font;
  font-size: $size;
}

@mixin set-font-description($weight, $text-color: lighten($dark-color, 30%)) {
  line-height: 1.7em;
  font-weight: $weight;
  color: $text-color;
}

@mixin set-grid($r-amount, $c-amount, $gap) {
  display: grid;
  @if ($r-amount == 0) {
    grid-template-columns: repeat($c-amount, 1fr);
  } @else {
    grid-template-rows: repeat($r-amount, 1fr);
  }
  @if ($gap != 0) {
    gap: #{$gap}px;
  }
}

@mixin set-alignment($v-align, $h-align) {
  align-items: $v-align;
  justify-content: $h-align;
}