// Reset
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

input, textarea {
  border: 1px solid lighten($dark-color, 70%);
  outline: 0;
  resize: none;
}

textarea {
  height: 150px;
  margin: 30px 0;
}

input[type="submit"] {
  border: 0;
  cursor: pointer;
}

hr {
  width: 100%;
  border: 1px solid $light-color;
}