// Buttons
@use '../base' as *;

.primary-button {
  display: inline-block;
  padding: 17px 23px;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  transition: .2s;
  background: $primary-color;
  color: $light-color;

  &:hover {
    background: $secondary-color;
  }

  &--darken {
    @extend .primary-button;
    background: darken($primary-color, 10%);
  }
}