// Cards
@use '../base' as *;

.cards {
  text-align: center;
  @include set-grid(0, 3, 30);
}

.card {
  padding: 70px 30px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px lighten($dark-color, 70%);

  &__number {
    position: absolute;
    top: 0;
    font-size: 8em;
    font-weight: bold;
    opacity: .08;
    user-select: none;
    font-family: $secondary-font;
    color: $secondary-color;
  }

  &__title {
    margin: 30px 0;
    font-size: 1.3em;
  }

  &__description {
    @include set-font-description(500);
  }

  .primary-button {
    margin-top: 25px;
  }
}