// Testimonial Slider
@use '../base' as *;

.testimonial-slider {
  display: flex;
  margin: 50px 0;
  color: $light-color;
  @include set-alignment(center, space-between);

  &__controls {
    height: 140px;
    width: 140px;
    position: relative;

    .control {
      height: 80px;
      width: 80px;
      line-height: 80px;
      position: absolute;
      text-align: center;
      font-size: 1.7em;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s;
      background: $gradient-color;

      &:last-child{
        bottom: 0;
        right: 0;
      }

      &:hover {
        box-shadow: 0 0 5px $secondary-color;
      }
    }
  }
}

.testimonial-cards {
  width: 80%;
  display: flex;
}

.testimonial-author {
  margin-left: 30px;
  padding: 70px 0 0 70px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.testimonial-content {
  padding: 45px 35px;
  text-align: center;
  border-radius: 5px;
  background: $gradient-color;

  &__rating {
    font-size: .7em;
  }

  &__name {
    font-size: 1.5em;
  }

  &__description {
    margin-bottom: 24px;
    font-style: italic;
    @include set-font-description(400, $light-color);
  }

  &__profession {
    font-size: .8em;
  }
}