// Header
.lava-header {
  height: 700px;
  @include set-background-image('banner-bg.png', right);

  &__content {
    width: 45%;
    margin: 180px 0;
  }

  &__title {
    @include set-font-title(3.8em);
    line-height: 1.3em;

    &--highlight {
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &__text {
    margin-bottom: 40px;
  }
}

.lava-menu {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-family: $secondary-font;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 900;
  }
}