// Header
@use '../base' as *;

.lava-header {
  height: 700px;
  @include set-background-image('banner-bg.png', right top);

  &__content {
    width: 45%;
    margin-top: 180px;
  }

  &__title {
    line-height: 1.3em;
    @include set-font-title(3.8em);

    &--highlight {
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &__description {
    margin-bottom: 30px;
    @include set-font-description(500);
  }
}

.lava-menu {
  display: flex;
  width: 70%;
  @include set-alignment(center, space-between);

  &__logo {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: $secondary-font;
  }
}